# Telegram Configuration
TELEGRAM_SECRET_TOKEN=''
TELEGRAM_ID_LIST_TO_BE_NOTIFIED='ID1 ID2 ID3'
TELEGRAM_HELP_TEXT='You need to be assigned by the server-side software to be able to receive notifications. Please contact admin.'

# Save This File as .env